

.titulo{
    text-align: center;
    font-size: 70px;
    color:blue;
    margin-bottom: 120px;
    font-family: 'Dancing Script' cursive; 
    color: #dc6378;
    padding-top: 10px;
}

.centrar{
    text-align: center;
    font-family: 'Dancing Script',cursive;
    background-color:#dc6378;

}


.nav{
    background: #f1BCC4;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 55px;
}

.button{
    list-style: none; 
    font-family: 'Dancing Script',cursive; color:#FFFCFA;
    text-decoration: none;
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 20px
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 50px ;
    height: 50px;

}

.formulario{
    padding-top: 30px;
    text-align: center;
    font-family: 'Dancing Script',cursive;
    font-size: 30px;
}

.bob{
    text-align: center;
    width: 90px;
    height: 25px;
    font-family: 'Dancing Script',cursive;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px
}


.formul{
    font-size: 20px;
    font-family: 'Dancing Script',cursive; 
    text-overflow: clip;
    text-align: center;
    margin-top: 10px;
    background-color: #FFFCFA;
}


.pie-pagina {
    width: 100%;
    background-color: #3d6868;
    padding-top: 2rem;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 15px 0px;
}


.pie-pagina .grupo-1 .box figure img {
    width: 150px;
    height: 150px;

}



.pie-pagina .grupo-1 .box p {
    color: #f1afaf;
    margin-bottom: 40px;
    padding-top: 55px;

}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #c25353;
    margin-right: 30px;
    background-color: #f1afaf;
    text-align: center;
    border-radius: 25px;
    

}

footer {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    position:relative;
    width: 100%;
}

.grupo-2 {
    background: rgb(33, 85, 99);
    width: 100%;


}

.fuente{
    color:#f1BCC4
}